<section id="dashboard">
     <h2 id="hidden-header">Dashboard</h2>
     <div id="dash-table">
          <div id="dash-table-body">
               <div class="dash-table-row">
                    <div class="dash-table-body-cell-metric">
                         {{metrics.numUsers}}
                         <p class="p-metric-header">Total Registered Users</p>
                    </div>
                    <div class="dash-table-body-cell-metric">
                         {{metrics.numUsersWithBadges}}
                         <p class="p-metric-header">Total Users With Badges</p>
                    </div>
                    <div class="dash-table-body-cell-metric">
                         {{metrics.numFraudsters}}
                         <p class="p-metric-header">Total Number Of Fraudsters</p>
                    </div>
                    <div class="dash-table-body-cell-metric">
                         {{metrics.numTrendingFraudsters}}
                         <p class="p-metric-header">Total Trending Fraudsters</p>
                    </div>
               </div>

               <div class="dash-table-row">
                    <div class="dash-table-body-cell-metric">
                         {{metrics.numReports}}
                         <p class="p-metric-header">Total Fraud Reports</p>
                    </div>
                    <div class="dash-table-body-cell-metric">
                         {{metrics.numTopFraud}}
                         <p class="p-metric-header">Top Fraud Type: {{metrics.topFraudType}}</p>
                    </div>
                    <div class="dash-table-body-cell-metric">
                         {{metrics.numReviews}}
                         <p class="p-metric-header">Total Number Of Reviews</p>
                    </div>
                    <div class="dash-table-body-cell-metric">
                         {{metrics.numFeedback}}
                         <p class="p-metric-header">Total Number Of Feedbacks</p>
                    </div>
               </div>

               <div class="dash-table-row">
                    <div class="dash-table-body-cell-metric">
                         {{metrics.numFraudsDetectsRequested}}
                         <p class="p-metric-header">Total Number of Fraud Detect Requests</p>
                    </div>
                    <div class="dash-table-body-cell-metric">
                         {{metrics.numFraudsDetected}}
                         <p class="p-metric-header">Total Number Of Frauds Detected</p>
                    </div>
                    <div class="dash-table-body-cell-metric">
                         {{metrics.numDataPoints}}
                         <p class="p-metric-header">Total Data points (6 collections) </p>
                    </div>
                    <div class="dash-table-body-cell-metric">
                         4
                         <p class="p-metric-header">Total Totally Cool Frap Developers</p>
                    </div>
               </div>
          </div>
     </div>


</section>