  {{#if hasResults}}
  <h1>Fraudster Lookup Results ( {{resultCount}} )</h1>
  {{else}}
   <h1>Fraudster Lookup</h1>
  {{/if}}  

  <div id="fraud-lookup">
  <form id="search-bar" action="/fraudster/lookup" method="post">
             <div class = "input-group">
                <select name="search-criteria" id="search-criteria">
                        <option value="name" id="look-name">Name</option>
                        <option value="email" id="look-email">Email</option>
                        <option value="phone" id="look-phone">Phone</option>
                        <option value="id" id="look-id">FraudsterID</option>
                        <option value="EIN" id="look-ein">EIN</option>
                        <option value="ITIN" id="look-tin">ITIN</option>
                        <option value="SSN" id="look-ssn">SSN</option>

                </select>
              </div>
        <input type="text" id="search-query" name="search-query" placeholder="Enter a search query">
        <button class="button" type="submit" id="search-button">Search Fraudster Database</button>
    </form>
  </div>

 
    {{#if isError}}
      <div id="lookup-error">
      <p id="error-message">{{error}}</p>
      </div>
    {{else}}

      {{#if hasResults}}
          <div id="fraud-lookup-results">
          <p></p>
          <table id="fraud-lookup-results-table">
          <tr class="lookup-results-td">
                <th>FraudsterID</th>
                <th>Names</th>
                <th>Emails</th>
                <th>Phones</th>
                <th>SSNs</th>
                <th>EINs</th>
                <th>ITINs</th>
                <th>Reports</th>
                <th>LastReport</th>
                <th>Trending</th>
          </tr>
      {{#each results}}     
            <tr>
                <td class="lookup-results-td">{{this.id}}</td>
                <td class="lookup-results-td">{{this.names}}</td>
                <td class="lookup-results-td">{{this.emails}}</td>
                <td class="lookup-results-td">{{this.phones}}</td>
                <td class="lookup-results-td">{{this.ssns}}</td>
                <td class="lookup-results-td">{{this.eins}}</td>
                <td class="lookup-results-td">{{this.itins}}</td>
                <td class="lookup-results-td">{{this.numReports}}</td>
                <td class="lookup-results-td">{{this.lastTimeReported}}</td>
                <td class="lookup-results-td">{{this.trending}}</td> 
            </tr>
        {{/each}}
          </table>
          </div>
      {{else}}
        <div id="lookup-noresults">
            <p>No results found. Please try again.</p>
        </div>
      {{/if}}  

    {{/if}}  

    <br>

  <script src="/js/lookup.js"></script>