
<section id="profile">
    <h1>User Profile</h1>

    <div class="profile-info">
        <div class="input-group">
            <label>First Name</label>
            <p id="firstName">{{user.firstName}}</p>
        </div>
        <br>
        <div class="input-group">
            <label>Last Name</label>
            <p id="lastName">{{user.lastName}}</p>
        </div>
        {{#if user.badge}}
            <div class="input-group badge">
                <label class="star-user-label">Star User</label>
                <img src="/Images/logo.png" alt="Badge" id="Badge"  class="badge-image"/>
            </div>
        {{/if}}
    </div>

    <form id="updateProfileForm">
        <br>
        <div class="input-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" value="{{user.email}}" required>
        </div>
        <br>
        <div class="input-group">
            <label for="company">Company Name</label>
            <input type="text" id="company" name="company" value="{{user.companyName}}" required>
        </div>
        <br>
        <div class="input-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="tel" id="phoneNumber" name="phoneNumber" value="{{user.phoneNumber}}" required>
        </div>
        <br>
        <div class="input-group">
            <label for="notificationEnabled">Enable Notifications</label>
            <input type="checkbox" id="notificationEnabled" name="notificationEnabled" {{#if user.notifications}}checked{{/if}}>
        </div>
        <br>
        <button type="submit" class="button">Update Profile</button>
    </form>
    <br>
    <p id="error-message"></p>
    <br>
    <button id="deleteAccount" class="button">Delete Account</button>
     <br>
</section>

